<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c24dc808e.js" crossorigin="anonymous"></script>

<style>
    body {
        max-width: 1400px;
        margin: 0 auto;
        padding: 1rem;
        text-align: center;
        font-family: 'Quicksand', sans-serif;
    }
    
    h1 {
        margin-top: 2%;
        font-weight: bold;
        font-size: xx-large;
    }

    h2 {
        text-align: center;
        font-weight: 700;
        border-top: 0px solid #000;
        margin-top: 20px;
        margin-bottom: 2px;
        padding-bottom: 0.1%;
        position: relative;
    }

    h2:after {
        content: '';
        display: block;
        width: 96%;
        height: 1px;
        background: #000;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    ul {
        margin-bottom: 2%;
        text-align: left;
        margin-left: 3%;
    }

    .socials {
      margin-right: 1em;
    }

    .socials:hover {
      color: #3c00b3;
    }

    a {
        color: #a200ff;
    }

    .button {
        display: inline-block;
        padding: 5px 10px;
        background-color: #008080;
        color: rgb(255, 232, 232);
        text-align: center;
        border-radius: 100px;
        text-decoration: salmon;
        transition: background-color 0.3s ease, transform 0.3s ease;
        transition: all; transition-duration: 350ms;

        margin-bottom: 2%;
    }

    .button:hover {
        background-color: #3c00b3;
        transform: scale(0.95);
    }

    .pr-button {
        display: inline-table;
        padding: 3px 7px;
        background-color: #008080;
        color: rgb(255, 232, 232);
        text-align: center;
        border-radius: 100px;
        text-decoration: salmon;
        transition: background-color 0.3s ease, transform 0.3s ease;
        transition: all; transition-duration: 350ms;

        margin-bottom: 2%;
    }

    .pr-button:hover {
        background-color: #3c00b3;
        transform: scale(0.95);
    }

    .point {
        margin-top: 0%;
        margin-bottom: 10px;
        margin-right: 20%;
        font-size: small;
        font-style: italic;
    }

    .experience {
        font-weight: medium;
    }

    .fade-out {
        animation: fadeOut 350ms ease;
        opacity: 0;
    }

    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }

</style>

  <body>
    <header>
        <h1>Curriculum Vitae</h1>
        <p>Engineering Student @ KTH Royal Institute of Technology</p>
        <i class="fa-brands fa-linkedin" style="color:#3c00b3;"></i>
        <a href="https://www.linkedin.com/in/zwjc" target="_blank" class="socials" aria-label="LinkedIn profile"> LinkedIn</a>
        <i class="fa-brands fa-square-github" style="color: #3c00b3;"></i> 
        <a href="https://www.github.com/zwjc" target="_blank" class="socials" aria-label="GitHub profile"> GitHub</a>


    </header>

    <section>
      <h2>Experience</h2>
      <ul>
        <li class="experience">Project Manager - THS Armada, 2024</li>
            <ul class="point">THS Armada is Scandinavia's largest career fair. Arranged yearly by 200+ student volunteers, visited by 14,000+ students and 140+ companies across two days.</ul>
            <ul class="point">By working with the Project Group of 22 people, the team works for one year to be an essential part of the Student Union's economy by bringing in a revenue of 7MSEK</ul>

        <li class="experience">Head of Logistics and Fair, Head of Career Fair - THS Armada, 2022, 2023</li>
            <ul class="point">Led and managed 150+ volunteers, planned, organised and coordinated with the project group to create the fair</ul>
        <li class="experience">THS Union Board, THS Nomination Committee - Tekniska H&ouml;gskolans Studentk&aring;r, 2022, 2023</li>
            <ul class="point">Tekniska H&ouml;gskolans Studentk&aring;r is the student union of KTH Royal Institute of Technology.</ul>
            <ul class="point">Being a member of the THS Union Board entailed strategic organisational and operational work, being the official employer of 20+ full-time workers at the union and being responsible for elections and political views of the union.</ul>
        <li class="experience">Project Manager - Technical Preparatory Year's Reception, 2022</li>
            <ul class="point">Led and coordinated one of the first receptions for 800+ incoming students together with two other Project Managers</ul>
        <li class="experience">Project Team - Financial Manager, Marketing Manager, Spring 2023, Fall 2023</li>
            <ul class="point">Responsibility and management over the budget and marketing for a reception welcoming 2000+ new international students and coordinating 200+ volunteers</ul>

      </ul>
    </section>

    <section>
      <h2>Education</h2>
      <ul>
        <li>Civ.ing. <a href="https://www.kth.se/utbildning/civilingenjor/informationsteknik/informationsteknik-civilingenjor-300-hp-1.4120" class="socials" target="_blank"> Informationsteknik</a> KTH, 2020-2026</li>
        <li>MScEng <a href="https://www.kth.se/student/kurser/program/TINEM/20242/mal?l=en" class="socials" target="_blank"> Industrial Engineering and Management</a> KTH, 2024-2026</li>
        <li>BSc <a href="https://www.kth.se/utbildning/kandidatutbildning/informations-och-kommunikationsteknik" class="socials" target="_blank"> Information and Communication Technology</a> KTH, 2020-2023</li>
        <li><a href="https://www.ibo.org/about-the-ib/" class="socials" target="_blank">International Baccalaureate</a>IEGS, 2018-2020</li>
        
      </ul>
    </section>

    <section>
      <h2>Skills</h2>
      <ul>
        <li><b>Technical Competencies:</b> Java, C, C#, React, Javascript, TypeScript, Python, Git, HTML, Elixir, Supabase, VSCode, Node.js, NestJS, PostgreSQL</li>
        <li><b>Interpersonal Strengths:</b> Project Management, Leadership, Communication, Conflict resolution, Problem-solving, Teamwork</li>
      </ul>
    </section>

    <section>
      <h2>Courses</h2>
      <ul>
        <li>ID1019, ID1020, ID1021, ID1206: Programming I, Programming II, Algorithms and Data Structures, Operating Systems</li>
        <li>IV1303, II1305, IC1007, IK1203: Modern Software Development, Project in ICT, Human-Computer Interaction, Networks and Communication</li>
        <li>DH2642, DM2350, DM2601: Dynamic Web and Interaction Programming, Human Perception for Information Technology, Media Technology and Interaction Design</li>
        <li>ME2016, ME2163, ME1003: Project Management: Leadership and Control, Leading People and Organisations in Different Contexts, Industrial Management</li>
        <li>SF1624, SF1625, SF1686, SF1610, DD1351: Algebra & Geometry, One Variable Calculus, Multivariable Calculus, Discreet Mathematics, Logic for Computer Scientists</li>
      </ul>
    </section>

    <section>
    <h2>Projects</h2>
    <ul>
        <li>Game development using Unity3D enginge, Blender and Git</li>
        <li>Website and frontend development</li>
        <li>Dynamic Website Development with React</li>
        <li>Snake game on PIC32</li>
        <li>Personal website, this one!</li>
        <div style="margin-top: 1.0em;">
            <a href="/projects" class="pr-button"> See Projects</a>
        </div>
    </ul>
    </section>
        <script>
            function attachTransitionLinks() {
                const transitionLinks = document.querySelectorAll('a.button');
                transitionLinks.forEach(link => {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    document.body.classList.add('fade-out');
                    setTimeout(() => {
                    window.location.href = this.getAttribute('href');
                    }, 350);
                });
                });
            }

            document.addEventListener('DOMContentLoaded', () => {
                document.body.classList.remove('fade-out');
                attachTransitionLinks();
            });

            window.addEventListener('pageshow', (event) => {
                document.body.classList.remove('fade-out');
                attachTransitionLinks();
            });
        </script>
  </body>
      <a href="/" class="button">Back to Start</a>

</html>
