/* About.css */
.about-container {
  min-height: calc(100vh - 60px); /* Adjust based on navbar height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  color: #333;
  padding: 20px;
}

.about-container h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  text-align: left;
}

.about-section h2 {
  color: #282c34;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-section h3 {
  color: #444;
  margin-bottom: 10px;
}

.about-section p, .about-section ul {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .about-section {
    width: 95%;
    padding: 15px;
  }

  .about-container h1 {
    font-size: 2.5rem;
  }

  .about-section h2 {
    font-size: 1.8rem;
  }

  .about-section h3 {
    font-size: 1.3rem;
  }

  .about-section p, .about-section ul {
    font-size: 1rem;
  }
}
