/* App.css */
.App {
  text-align: center;
}

.navbar {
  background-color: #282c34;
  padding: 1rem;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #61dafb;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0;
  }
}
