body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f9; /* Light background for a sleek look */
  color: #333; /* Darker text for contrast */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
